# See http://help.github.com/ignore-files/ for more about ignoring files.

# webstorm
.idea

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
server/ssl
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# assets
src/assets/img/uploads
