:root {
	--white: #FFFFFF;

	--dark-grey: #4F5350;
	--gray: #656E75;
	--gray-2: #48504D;
	--navy-blue: #4D5964;

	--beige: #4F5350;
	--teal: #4E7775;
	--gray-blue: #3D575B;
	--dark-navy-blue: #4E7775;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-image: url('./assets/img/nasa-earth.jpg');
	min-height: 600px;

	/* Full height */
	height: 100%;

	/* Center and scale the image */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding: 20px;
	color: var(--white);
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


