:root {
	--white: #FFFFFF;
	--navy-blue: #475c71;
	--orange: #edbf74;
	--dark-navy-blue: #2c4053;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: var(--dark-gray);
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: black;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: var(--dark-grey);
}
