:root {
	--white: #FFFFFF;
	--navy-blue: #475c71;
	--orange: #edbf74;
	--dark-navy-blue: #2c4053;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: var(--dark-gray);
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: black;
	margin-top: 1em;
	padding-top: 1em;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: var(--dark-grey);
}

/* override bootstrap navbar colors */
.navbar,
.navbar-default {
	background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important;
	border-color: #2c4053 !important;
}

.navbar-link {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}
